<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_bcash_colored"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_bcash_colored"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCash"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".QRScanActivity"
            android:exported="false" />
        <activity
            android:name=".WhitelistAddActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".PINCreationActivity"
            android:exported="false" />
        <activity
            android:name=".PINValidationActivity"
            android:exported="false" />
        <activity
            android:name=".OTPValidationActivity"
            android:exported="false" />
        <activity
            android:name=".TransferConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".TransferActivity"
            android:exported="false" />
        <activity
            android:name=".PurchaseConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".SecuritySettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityLogsActivity"
            android:exported="false" />
        <activity
            android:name=".WhitelistActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui"/>
    </application>

</manifest>